.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;
  position: relative;
}

#bulbasaur {
  top: 10px;
}

#charmander {
  top: 30px;
}

#squirtle {
  top: 60px;
}

#pikachu {
  top: 120px;
}

#jigglypuff {
  top: 240px;
}
