* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
  width: 100%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-fourth {
  flex-basis: 25%;
}

.column-two-thirds {
  flex-basis: calc(200% / 3);
}

img {
  width: 100%;
}
