body {
  font-family: "DM Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-fifth {
  flex-basis: 20%;
}

img {
  width: 100%;
}

h2 {
  text-align: center;
}

span {
  color: #d3d3d3;
}

mark {
  background-color: #fff2e6;
}

p {
  font-size: 0.8rem;
  margin: 5px 0;
}

.flex-column-align {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 10px;
}
