.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

.column-third {
  flex-basis: calc(100% / 3);
}

.column-two-thirds {
  flex-basis: calc(200% / 3);
}

.column-fourth {
  flex-basis: 25%;
}

.flex-between-margin {
  display: flex;
  justify-content: space-between;
  margin: 0 75px 20px;
}

.logo {
  width: 155px;
}

.underline {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #e7e9ec;
}

body {
  margin: 50px 0;
  font-family: Avenir, sans-serif;
}

#contact-us-button {
  background-color: #294464;
  border: none;
  color: white;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 5px;
}

.hero-background {
  background-image: url("images/hero.jpg");
  background-size: cover;
  position: relative;
  height: 550px;
  margin: 75px;
}

.overlay {
  background: rgb(100 98 98 / 45%);
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero-text {
  color: white;
  position: absolute;
  width: 49%;
  line-height: 1.75rem;
  margin: 75px;
  bottom: 20px;
}

h1 {
  font-size: 2.2rem;
  font-family: "Tiempos Headline", sans-serif;
  font-weight: 100;
  line-height: 3rem;
}

h2 {
  font-size: 2rem;
  font-family: "Tiempos Headline", sans-serif;
  margin-bottom: 0;
  font-weight: 100;
}

.line-height {
  line-height: 1.75rem;
}

.get-started-button {
  text-decoration: none;
  background-color: #294464;
  border: none;
  color: white;
  padding: 15px 45px;
  font-size: 1.3rem;
  border-radius: 5px;
  font-family: Avenir, sans-serif;
}

.button-margin {
  margin-top: 45px;
}

.grey-background {
  background-color: #fafafa;
  height: 500px;
  width: auto;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.dark-grey-text {
  color: #6e6e6e;
}

.flex-column-even {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.align-self {
  align-self: center;
}

.dark-grey-background {
  background-color: #525351;
  height: 400px;
  padding: 75px;
}

address {
  line-height: 1.75rem;
  color: white;
  font-style: normal;
}

.flex-even-padding {
  display: flex;
  justify-content: space-evenly;
  padding: 15px 0 0 40px;
}

.footer-background {
  background-color: #fafafa;
  height: 100px;
}

footer > a {
  text-decoration: none;
  color: #6e6e6e;
  font-size: 1.2rem;
  padding-right: 40px;
}

footer {
  margin-left: 75px;
}

.nav-links a {
  padding: 10px 25px;
  text-decoration: none;
  color: #a0a0a0;
}

.links,
.links a {
  text-decoration: none;
  color: white;
}

#active-page-color {
  color: #3e6a86;
}

/* Product page specific CSS styles */

.product-background {
  background-image: url("images/product/product-header.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 500px;
  margin: 125px 75px 75px;
}

.text-padding {
  padding-bottom: 40px;
}

.grey-background-product {
  background-color: #fbfbfb;
}

.product-text {
  color: #505150;
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding: 75px;
}

.product-text p {
  color: #9a9a9a;
}

.product-text a {
  text-decoration: none;
  color: #475f78;
}

.product-text h2 {
  line-height: 2.5rem;
}

.image-padding {
  padding: 75px;
  width: 110%;
}

/* Implementation page specific CSS styles */

.implementation-background {
  background-image: url("images/implementation/implementation-header.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 500px;
  margin: 125px 75px 75px;
}

.justify-center {
  justify-content: center;
}

.imp-main-flex-center-padding {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 110px 200px;
  color: #6c6a6a;
}

.implementation-list {
  padding: 0 175px;
  margin-top: 60px;
}

.implementation-list > li {
  font-size: 2rem;
  font-family: "Tiempos Headline", sans-serif;
  padding: 15px;
  list-style-position: inside;
}

.implementation-list h3 {
  line-height: 1.5rem;
  font-size: 1.25rem;
  font-family: Avenir, sans-serif;
  display: inline;
  padding: 5px;
}

.imp-text {
  font-size: 1rem;
  font-family: Avenir, sans-serif;
  line-height: 1.6rem;
  margin: 25px 0;
}

/* About Us Page specific CSS */

.about-us-background {
  background-image: url("images/about-us/about-us-header.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 500px;
  margin: 125px 75px 75px;
}

.about-text {
  color: white;
  position: absolute;
  width: 50%;
  line-height: 1.75rem;
  margin: 75px;
  bottom: 70px;
}

.about-main-text {
  color: #6c6a6a;
  line-height: 1.6rem;
  margin-bottom: 75px;
}

.about-main-text > h2 {
  text-align: center;
  margin-bottom: 40px;
}

.about-main-text a {
  text-decoration: none;
  color: #0a4265;
  font-weight: 800;
}

.about-background {
  background-color: #fafafa;
  padding: 50px 75px;
  color: #6c6a6a;
}

.about-heading {
  text-align: center;
  margin-bottom: 30px;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-members img {
  width: 200px;
  border-radius: 50%;
}

.member {
  flex-basis: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
}

.member > h2 {
  font-size: 1.7rem;
  margin-top: 10px;
}

.advisory-heading {
  margin-top: 75px;
  margin-bottom: 25px;
}

.advisory {
  line-height: 2rem;
  text-align: center;
  margin-bottom: 25px;
}

.story-text {
  color: #6c6a6a;
  line-height: 1.5rem;
  margin-bottom: 75px;
}

.story-header {
  text-align: center;
  margin: 75px 0 30px;
}

/* blog specific css */

#email {
  width: 90%;
  border: none;
  text-align: center;
  border-bottom: 1px solid #979797;
  margin: 20px 0;
  padding: 20px 0;
}

#email::placeholder {
  color: #dad9d9;
  letter-spacing: 0.05rem;
  font-size: 1.6rem;
  font-family: Avenir, sans-serif;
}

.blog-form-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #505150;
}

#subscribe-button {
  text-decoration: none;
  background-color: #0a4265;
  border: none;
  color: white;
  padding: 15px 45px;
  font-size: 1.1rem;
  border-radius: 5px;
  margin-top: 30px;
}

.blog-margin {
  margin: 100px 0 50px;
}

.article-margin img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.article-margin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 150px 50px;
}

.article {
  width: 50%;
  padding: 20px;
}

.article a {
  text-decoration: none;
  color: #0a426b;
  font-size: 1.75rem;
}

.article h2 {
  line-height: 2rem;
}

.article p {
  color: #9a9999;
}

/* contact-us page specific css */

.contact-margin {
  margin: 100px 75px;
}

.contact-us-form input,
textarea {
  width: 100%;
  border: none;
  text-align: center;
  border-bottom: 1px solid #979797;
  margin: 20px 0;
  padding: 20px 0;
}

.contact-us-form input::placeholder,
textarea::placeholder {
  color: #dad9d9;
  letter-spacing: 0.05rem;
  font-size: 1.4rem;
  font-family: Avenir, sans-serif;
}

.contact-text {
  padding-right: 150px;
  color: #50514f;
}

.contact-text h2 {
  margin: 20px 0;
}

.contact-text a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #0a4265;
}

.contact-text p {
  line-height: 1.75rem;
  font-size: 1.15rem;
  text-align: left;
  word-spacing: 0.05rem;
  margin-top: 20px;
}

#submit-button {
  text-decoration: none;
  background-color: #0a4265;
  border: none;
  color: white;
  padding: 10px 25px;
  font-size: 1.1rem;
  border-radius: 5px;
  margin-top: 25px;
}
